<h1>Restaurant: <%= @restaurant.name %> </h1>

  <ul>
    <li><%= @restaurant.name %></li>
    <li><%= @restaurant.address %></li>
    <li><%= @restaurant.phone_number %></li>
    <li><%= @restaurant.category %></li>
  </ul>

  <h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <ul>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  </ul>
<% end %>



<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

